$--button-group-disabled-text-color: $--disabled-text-color;
$--button-group-disabled-color: $--disabled-color;

// 按钮高度
$--button-group-mini-height: 22px;
$--button-group-small-height: 28px;
$--button-group-medium-height: 34px;
$--button-group-large-height: 40px;
// 按钮padding
$--button-group-mini-padding: 0 9px;
$--button-group-small-padding: 0 11px;
$--button-group-medium-padding: 0 15px;
$--button-group-large-padding: 0 22px;
$--button-group-round-padding: 10px;
// 字体大小
$--button-group-mini-font-size: $--mini-font-size;
$--button-group-small-font-size: $--small-font-size;
$--button-group-medium-font-size: $--medium-font-size;
$--button-group-large-font-size: $--large-font-size;
// circle的边框圆角
$--button-group-mini-circle-border-radius: 10px;
$--button-group-small-circle-border-radius: 15px;
$--button-group-medium-circle-border-radius: 20px;
$--button-group-large-circle-border-radius: 25px;


$heights: (mini: $--button-group-mini-height, small: $--button-group-small-height, medium: $--button-group-medium-height, large: $--button-group-large-height);
$paddings: (mini: $--button-group-mini-padding, small: $--button-group-small-padding, medium: $--button-group-medium-padding, large: $--button-group-large-padding);
$font-sizes: (mini: $--button-group-mini-font-size, small: $--button-group-small-font-size, medium: $--button-group-medium-font-size, large: $--button-group-large-font-size);
$border-radiuses: (mini: $--button-group-mini-circle-border-radius, small: $--button-group-small-circle-border-radius, medium: $--button-group-medium-circle-border-radius, large: $--button-group-large-circle-border-radius);

@mixin disabled {
    color: $--button-group-disabled-text-color !important;
    background-color: $--button-group-disabled-color !important;
    box-shadow: none;
    cursor: not-allowed;
}

@mixin first-and-last($direction, $border-width, ) {
    &:first-of-type {
        @if $direction==left {
            border-top-left-radius: $border-width !important;
            border-bottom-left-radius: $border-width !important;
        }

        @if $direction==top {
            border-top-left-radius: $border-width !important;
            border-top-right-radius: $border-width !important;
        }
    }

    &:last-of-type {
        @if $direction==left {
            border-top-right-radius: $border-width !important;
            border-bottom-right-radius: $border-width !important;
        }

        @if $direction==top {
            border-bottom-left-radius: $border-width !important;
            border-bottom-right-radius: $border-width !important;
        }
    }
}

@mixin solid-and-dashed($type, $position, $color) {
    &.is-#{$type} {
        border: 1px $color $type !important;
        border-#{$position}: none !important;

        &.is-disabled {
            background-color: #fff !important;
        }
    }
}

@mixin direction($direction, $position) {
    flex-direction: $direction;

    @each $s in $sizes {
        $height: map-get($heights, $s);
        $padding: map-get($paddings, $s);
        $font-size: map-get($font-sizes, $s);
        $border-radius: map-get($border-radiuses, $s);

        &.is-#{$s} {
            >.h-button {
                height: $height;
                padding: $padding;
                font-size: $font-size;
                @include first-and-last($position, 4px);

                &.is-disabled {
                    @include disabled;
                }
            }

            &.is-circle {
                >.h-button {
                    @include first-and-last($position, $border-radius);
                }
            }

            @each $t in $types {
                $color: map-get($colors, $t);

                >.h-button--#{$t} {
                    @include solid-and-dashed(solid, $position, $color);
                    @include solid-and-dashed(dashed, $position, $color);

                    border-#{$position}: none !important;
                }
            }
        }
    }
}

.h-button-group {
    display: flex;
    width: fit-content;
    border-radius: 4px;

    >.h-button {
        border-radius: 0 !important;
        box-shadow: none;
    }

    &.is-horizental {
        @include direction(row, left);
    }

    &.is-vertical {
        @include direction(column, top);
    }
}